.ios, .md{
    page-home {
            .scroll { 
                height: 100%;
            }
            #map{
                width:100%;
                height: 96%;
            }
            .leyenda{
                margin-top:1%;
                font-size:70%;
                margin-left:3%;
                img{
                    width: 4%;
                    height: 4%;
                }
            }
    }
}
