page-contact {
    .genero{
        font-size: 65%;
    }

    .no-login{
        padding: 3%;
        font-size: 110%;
        
        button{
            margin-top: 10%;
            margin-left: 20%;
        }
    }
}
